<% if current_user %>
<div class="jumbotron"></div>
<% else %>
<div class="jumbotron">
  <h1>超讚的魔獸數據統計!!</h1>
    <p class="lead">你還在煩惱該重鑄哪些素質??該鑲入哪種顏色的寶石??還是想弄清楚自己角色身上的裝備在魔獸世界玩家間的使用率??那你到底還在拖什麼!!註冊就對了啦!!</p>
  <a class="btn btn-large btn-success" href="/users/sign_up">馬上註冊!!</a>
</div>
<% end %>