<div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><%= link_to("首頁", root_path) %></li>
      <% if user_signed_in? %>
        <li><%= link_to current_user.user_name, user_path(current_user.id) %></li>
        <li><%= link_to("登出", destroy_user_session_path, :method => :delete )%></li>
      <% else %>
        <li><a href="/users/sign_up">註冊</a></li>
        <li><a href="/users/sign_in">登入</a></li>
      <% end %>
    </ul>
<h3 class="muted">我還在想...</h3>
</div>