<p>
    <table>
      <tr>
        <td colspan="3">
        TOP gear choices for
        </td>
      </tr>
      <tr>
        <td>Equip Part</td>
        <td>Equip Name</td>
        <td>Equip Ratio</td>
      </tr>
    </table>

