<div id='user'>
<% @pop_equip.each do |klass, parts| %>
  <p>
    <table>
      <tr>
        <td colspan="3">
        TOP gear choices for <%= klass %>
        </td>
      </tr>
      <tr>
        <td>Equip Part</td>
        <td>Equip Name</td>
        <td>Equip Ratio</td>
      </tr>
      <% parts.each do |part, equip| %>

      <tr>
        <td><%= link_to part %></td>
        <% unless equip.blank? %>
          <td><%= link_to equip.equip_name, equipment_path(equip.id) %></td>
          <td><%= number_to_percentage(equip['ratio'], precision: 0) %></td>
        <% else %>
          <td>No Gear Found</td>
          <td>No Ratio Found</td>
        <% end %>
      </tr>

      <% end %>
    </table>
  </p>
<% end %>
</div>