<div id='user'>
<% @pop_equip.each do |klass, parts| %>
  <table>
    <tr>
      <td colspan="3">
      TOP gear choices for <%= klass %>
      </td>
    </tr>

    <tr>
      <td>Equip Part</td>
      <td>Equip Name</td>
      <td>Equip Ratio</td>
    </tr>
    <% parts.each do |part, equip| %>
      <tr>
        <td><%= part %></td>
        <td><%= equip.equip_name %></td>
        <td></td>
      </tr>
    <% end %>
  </table>
<% end %>
</div>