<div id='user'>
<% @char_class.each do |c|%>
  <table>

    <tr>
      <td colspan="3">

      TOP gear choices for <%= "#{c[1]}" %>

      </td>
    </tr>

    <tr>
      <td>Equip Part</td>
      <td>Equip Name</td>
      <td>Equip Ratio</td>
    </tr>
    <tr>
      <td>Head</td>
      <td><%= "#{@pop_equip['equip_name']}" %></td>
      <td></td>
    </tr>
    <tr>
      <td>Neck</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Shoulder</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Cloak</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Chest</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Wrist</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Hands</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Waist</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Legs</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Feet</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Ring1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Ring2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Trinket1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Trinket2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Main Hand</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Off Hand</td>
      <td></td>
      <td></td>
    </tr>
  </table>
<% end %>
</div>