<%= render "users/discribe" %>
<div id='userchar'>
  <table align="center">
    <tr><td>角色列表</td></tr>
    <tr>
      <td class='userCharList'>
            <p>
              <a href='/users/<%= @charList.id %>'> <%= @charList.name %></a>
            </p>
      </td>
    </tr>

  </table>
</div>