#user
  table
    width: 450px
    border: 5px solid black
    border-collapse: collapse

    .charinfo
      background-color: black
      color: white

    td
      width: 100px
      padding: 10px
      border: 1px solid black

.name
  font-size: 15px
