#user
  table
    width: 700px
    border: 5px solid black
    border-collapse: collapse


    .charinfo
      background-color: black
      color: white

    td
      width: 300px
      padding: 10px
      border: 1px solid black
      font-size: 15px

.name
  font-size: 15px
